body {
    font-family: 'Libre Baskerville', serif;
}

.modal-header {
    border-bottom: 0;
}

.modal-body {
    position:relative;
    padding: 0;
  }

.close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity: 1;
  }

.modal-header {
    padding: 0;
}

.modal-dialog {
    max-width: 562px;
}

.modal {
    top: 25%;
}

/* from previous */

.videoWrapper {
    position: relative;
    width: 100%;
    height: 0;
    background-color: #000;
  }
  .videoWrapper169 {
    padding-top: 56%;
  }
  .videoIframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .videoPoster {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    outline: none;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-size: cover;
    text-indent: -999em;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 800ms, height 0s;
    -moz-transition: opacity 800ms, height 0s;
    transition: opacity 800ms, height 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
  }
  .videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms;
  }
  .main {
    max-width: 920px;
    margin: 20px auto;
  }
  