body {
    font-family: 'Libre Baskerville', serif;
}

.modal-header {
    border-bottom: 0;
}

.modal-body {
    position:relative;
    padding: 0;
  }

.close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity: 1;
  }

.modal-header {
    padding: 0;
}

.modal-dialog {
    max-width: 562px;
}

.modal {
    top: 25%;
}
